@model Locador

@{
    Layout = "_Layout";
}

<h2>Remover o locador: @Model.Nome.ToUpper()</h2>

@if (TempData["ErrorMessage"] is string errorMessage && !string.IsNullOrEmpty(errorMessage))
{
    <div class="alert alert-danger" role="alert">
        @errorMessage
    </div>
}

<div class="row">
    <div class="col-md-4">
        <p>Tem a certeza que pretende prosseguir com a remoção?</p>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Remover" class="btn btn-danger btn-sm" />
            <a class="btn btn-sm btn-primary" asp-area="Identity" asp-page="/Account/Manage/GestaoLocadores">Cancelar</a>
        </form>
    </div>
</div>
