@model HabitAqui.Dtos.Reservas.ReservaDto
@{
    ViewData["Title"] = "Efetuar Reserva";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1>Efetuar Reserva</h1>

<h2>Detalhes da Habitação:</h2>
<div>
    <strong>@Model.NomeHabitacao</strong><br/>
    <span>@Model.DescricaoHabitacao</span><br/>
    <span>Preço por Noite: @Model.PrecoPorNoiteHabitacao€</span>
</div>
@Html.Partial("_ReservaForm")