@model HabitAqui.Dtos.Reservas.EntregaDto

<form asp-controller="Reservas" asp-action="FinTeste" method="post">
  
    <input type="hidden" id="ReservaId" name="ReservaId" value="@Model.ReservaId" />
    <input type="hidden" id="DataEntrega" name="DataEntrega" value="@Model.DataEntrega" />
    <input type="hidden" id="FuncionarioId" name="FuncionarioId" value="@Model.FuncionarioId" />

    <div class="form-group">
        <label for="TipoTransacao">Tipo de Transação:</label>
        <select id="TipoTransacao" name="TipoTransacao" class="form-control">
            <option value="Entrega">Entrega</option>
            <option value="Devolucao">Devolução</option>
        </select>
    </div>

    <div class="form-group">
        <label for="Danos">Danos:</label>
        <input type="checkbox" id="Danos" name="Danos" class="form-check-input" />
    </div>

    <div class="form-group">
        <label for="Observacoes">Observações:</label>
        <textarea id="Observacoes" name="Observacoes" class="form-control"></textarea>
    </div>

    <div class="form-group">
        <label for="Opcionais">Opcionais:</label>
        <textarea id="Opcionais" name="Opcionais" class="form-control"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submeter</button>
</form>