@page
@model HabitAqui.Areas.Identity.Pages.Account.Manage.AdicionarCategoriaModel
@{
}

<form method="post">
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label asp-for="NovaCategoria.Nome" class="form-label">Nome da Categoria</label>
                <input asp-for="NovaCategoria.Nome" class="form-control" />
                <span asp-validation-for="NovaCategoria.Nome" class="text-danger"></span>
            </div>
        </div>
    </div>

    <button type="submit" class="btn btn-success">Adicionar</button>
    <button type="button" class="btn btn-primary" onclick="location.href='@Url.Page("./GestaoCategorias")'">Cancelar</button>
</form>