@page
@model HabitAqui.Areas.Identity.Pages.Account.Manage.GestorGestaoUtilizadoresModel
@{
    ViewData["Title"] = "Gestão de Utilizadores";
}

<h2>@ViewData["Title"]</h2>

@if (Model.Utilizadores != null && Model.Utilizadores.Count > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Email</th>
                <th>Telefone</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var utilizador in Model.Utilizadores)
            {
                <tr>
                    <td>@utilizador.Nome</td>
                    <td>@utilizador.Email</td>
                    <td>@utilizador.PhoneNumber</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Nenhum utilizador com a função "Funcionário" encontrado.</p>
}
