table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #e3e3e3;
}

thead tr {
    background-color: #4f4e79;
    color: #fff;
    border-bottom: 2px solid #9bbcf5;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #adbbd4;
    vertical-align: middle;
}

.administrador-color,
.gestor-color,
.funcionario-color,
.cliente-color {
    color: #fff;
    border-radius: 4px;
    padding: 6px 12px;
    display: inline-block;
}

.administrador-color {
    background-color: #e57373;
}

.gestor-color {
    background-color: #64b5f6;
}

.funcionario-color {
    background-color: #81c784;
}

.cliente-color {
    background-color: #ff8a65;
}

h2 {
    color: white;
}