/*
* Colors
* purple   : #4f4e79
* white    : #ffffff
* grey     : #e3e3e3
* darkbg   : #363636
* blue     : #658bb1
* lightBlue: #9bbcf5
*/

html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

body {
    margin-bottom: 60px;
    background-color: #e3e3e3;
    color: #e3e3e3;
    width: 100vw;
}

a {
    color: #9bbcf5;
    transition: all ease-in-out 100ms;
}

a:hover {
    transition: all ease-in-out 100ms;
    color: #658bb1;
}

.dark-bg {
    background-color: #363636;
}

nav {
    border-bottom: 3px solid #658bb1;
}

.navbar-blue {
    background-color: #4f4e79;
}

.nav-logo {
    height: 100px;
}

.container-categorias {
    display: flex;
    justify-content: center; /* Aligns items to the center */
    align-items: center;
    margin-bottom: 20px;
    margin-top: 10px;
    gap: 50px; /* Adjust the gap between items */
}

.categoria {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; /* Ensures text is centered under icons */
    transition: color 0.3s;
}

.categoria img {
    width: 25px; /* Adjust size as needed */
    height: auto;
    margin-bottom: 10px; /* Space between icon and text */
}

.bi {
    font-size: 24px; /* Example size */
    color: black; /* Example color */
    transition: color 0.3s;
}
.fa-solid {
    font-size: 25px; /* Match size with Bootstrap Icons */
    color: black; /* Match color with Bootstrap Icons */
    margin-bottom: 8px;
    margin-top: 2px;
    transition: color 0.3s;
}

.bi:hover, .fa-solid:hover {
    color: white; /* Color changes to white on hover */
 }

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 45px;
}

.footer-links a {
    margin: 0 10px;
}

.footer-social a {
    margin: 0 5px;
}

.footer-contact {
    text-align: right; /* Align text to the right */
}

    .footer-contact p {
        margin-top: 10px;
    }

@media (min-width: 768px) {
    .footer-container {
        flex-direction: row;
        justify-content: space-between;
    }

    .footer-links, .footer-social {
        flex: 1;
    }

    .footer-contact {
        flex: 0 0 auto; /* Do not grow or shrink */
        margin-left: auto; /* Push to the far right */
    }
}