/*
* Colors
* purple: #4f4e79
* white : #ffffff
* grey  : #e3e3e3
* blue  : #658bb1
*/

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: #e3e3e3;
}
nav {
  border-bottom: 3px solid #658bb1;
}
.navbar-blue {
  background-color: #4f4e79;
}
.nav-logo {
  height: 100px;
}