/*
* Colors
* purple   : #4f4e79
* white    : #ffffff
* grey     : #e3e3e3
* darkbg   : #363636
* blue     : #658bb1
* lightBlue: #9bbcf5
*/

html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

body {
    margin-bottom: 60px;
    background-color: #e3e3e3;
    color: #e3e3e3;
    width: 100vw;
}

a {
    color: #9bbcf5;
    transition: all ease-in-out 100ms;
}

a:hover {
    transition: all ease-in-out 100ms;
    color: #658bb1;
}

.dark-bg {
    background-color: #363636;
}

nav {
    border-bottom: 3px solid #658bb1;
}

.navbar-blue {
    background-color: #4f4e79;
}

.nav-logo {
    height: 100px;
}



footer {
    background-color: #333;
    color: #fff;
    padding: 40px 20px;
    text-align: center;
    box-shadow: 0 0 4px #999;
}

.footer-content {
    display: flex;
    justify-content: center;
    color: #fff;
    margin-top: 20px;
}

.footer-column {
    width: 30%;
    margin: 0 20px;
    border-radius: 10px;
}

ul {
    list-style: none;
    padding: 0;
}

    ul li {
        margin-bottom: 15px;
    }

        ul li a {
            color: #fff;
            text-decoration: none;
            font-weight: bold;
            transition: color 0.3s ease;
            font-size: 16px;
            line-height: 24px;
        }

            ul li a:hover {
                color: #bbb;
            }

.language-switch {
    margin-top: 30px;
}

form {
    display: inline-block;
}

label {
    margin-right: 10px;
    color: #fff;
    font-size: 16px;
    line-height: 24px;
}

select {
    padding: 8px;
    border: 1px solid #555;
    background-color: #444;
    color: #fff;
    font-size: 16px;
    line-height: 24px;
}

button {
    background-color: #555;
    color: #fff;
    padding: 8px 15px;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease;
    font-size: 16px;
    line-height: 24px;
}

    button:hover {
        background-color: #777;
    }