@{
    ViewData["Title"] = "Nome da habitação";
}
<link rel="stylesheet" href="/css/detalhes-habitacao.css"/>

<div class="text-left">
    <h1 class="display-4">@ViewData["Title"]</h1>
</div>

<div class="galeria-container">
    <div class="outside-flex">
        <div class="flex-left col-6 mx-2">

            <img alt="imagem da casa" src="/imgs/habitacoes/habitacao001.jpg">
        </div>
        <div class="flex-right col-6 mx-2">
            <div class="inner-flex-right">
                <img alt="imagem da casa" src="/imgs/habitacoes/habitacao002.jpg">
                <img alt="imagem da casa" src="/imgs/habitacoes/habitacao003.jpg">
                <img alt="imagem da casa" src="/imgs/habitacoes/habitacao004.jpg">
                <img alt="imagem da casa" src="/imgs/habitacoes/habitacao005.jpg">
            </div>
        </div>
    </div>
</div>
galeria de imagens