@model HabitAqui.Dtos.Reservas.ReservaGeraldto

<form asp-action="ConfirmarReserva" asp-controller="Reservas" method="post">
    <div class="form-group">
        <input type="hidden" asp-for="HabitacaoId" value="@Model.HabitacaoId"/>
        <label asp-for="DataInicio">Data de Check-In:</label>
        <input asp-for="DataInicio" class="form-control" type="date"/>
        <span asp-validation-for="DataInicio" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="DataFim">Data de Check-Out:</label>
        <input asp-for="DataFim" class="form-control" type="date"/>
        <span asp-validation-for="DataFim" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="AnotacoesCliente">Anotações do cliente</label>
        <input asp-for="AnotacoesCliente" class="form-control" type="text"/>
    </div>
    <input type="hidden" name="DataInicio" value="@Model.DataInicio"/>
    <input type="hidden" name="DataFim" value="@Model.DataFim"/>
    <input type="hidden" name="AnotacoesCliente" value="@Model.AnotacoesCliente"/>


    <button type="submit" class="btn btn-primary btn-sm mt-3">Reservar</button>
</form>